body {
  margin: 0;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  color: #40514E;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-top: 10px;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #11999E;
  margin: 0 auto;
  font-size: 20px;
}

hr {
  margin-top: 50px;
  border: 5px;
  width: 5%;
  border-top-style: dotted;
  border-width: 5px;
  color: grey;
}

p {
  line-height: 2;
}

span {
  text-decoration: underline;
}

.top-container {
  background-color: #e6f8f9;
  position: relative;
  padding-top: 100px;
}

.image1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.image2 {
  position: absolute;
  left: 200px;
  bottom: 85%;
}

.coding {
  width: 25%;
  border-radius: 60%;
  float: left;
  margin-right: 30px;
}

.writing {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  margin: 0 auto;
  width: 40%;
}

.picture {
  border-radius: 500px;
}

.bottom-container {
  background-color: #66BFBF;
  font-family: 'Bree Serif', serif;
  padding: 40px 0 20px;
}

.skill-row {
  text-align: left;
  line-height: 2;
  margin: 100px auto;
  width: 60%;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}

.contact-me {
  margin: 40px auto 60px;
  text-align: center;
  width: 50%;
}

.message {
  width: 50%;
  margin: 40px auto 60px;
}

.button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
